.unauth_wrapper {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use full screen height */
    
    .form-card {
      width: 300px; /* Or whatever fixed width you prefer */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* To give the card some depth */
      /* Additional styling as needed */
    }
  }
  